{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Game Page{% endblock %}
{% block content%}
	<div class = 'text-center'>
		<h1> Welcome to the jungle </h1>
	</div>
	<br><br>
	<div class = 'container'>
		<div class="card text-center">
			<div class="card-header">
				Game
			</div>
			<div class="row" id ="all_game" >
				<div class="card-body col-sm-8 ">
					<div id="btnStartGame" class='button-start'>
						<button class="btn btn-primary">Start a game</button>
					</div>
					<br><br>
					<div id = 'timer'>
					</div>
					<div id = 'coded_word'>
					</div>
					<div id="GameElements">
					</div>
				</div>
				<div id = 'image_keyboard'>
					<div class='col-sm-2' >
						<img src='{% static "images/clavier.png"%}' style='max-width: 300px;max-height: 300px'>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class='text-center'>
			<a href="{% url 'profile_app:all_scores' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See all scores</a>	
		</div>
		
	</div>
{% endblock %}